<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8d65a2">  <td>22/03/01 14:45:15</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePage.loadURL(java.lang.String,java.lang.String)[pri:0, instance:com.maven.E2EProject.HomePage@e27ba81]">loadURL</td> 
  <td>TestNG-tests-1@596779307</td>   <td></td> </tr>
<tr bgcolor="8d65a2">  <td>22/03/01 14:45:15</td>   <td>5</td> <td>&nbsp;</td><td title="&lt;&lt;HomePage.tearDown()[pri:0, instance:com.maven.E2EProject.HomePage@e27ba81]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="8d65a2">  <td>22/03/01 14:45:15</td>   <td>-62</td> <td>&nbsp;</td><td title="&gt;&gt;HomePage.browserInitializer()[pri:0, instance:com.maven.E2EProject.HomePage@e27ba81]">&gt;&gt;browserInitializer</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@596779307</td>   <td></td> </tr>
<tr bgcolor="8d65a2">  <td>22/03/01 14:45:15</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePage.loadURL(java.lang.String,java.lang.String)[pri:0, instance:com.maven.E2EProject.HomePage@e27ba81]">loadURL</td> 
  <td>TestNG-tests-1@596779307</td>   <td></td> </tr>
<tr bgcolor="df8f72">  <td>22/03/01 14:45:15</td>   <td>-14</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TitleCheckInHomePage.headerCheck()[pri:0, instance:com.maven.E2EProject.TitleCheckInHomePage@6979efad]">headerCheck</td> 
  <td>TestNG-tests-2@687399269</td>   <td></td> </tr>
<tr bgcolor="df8f72">  <td>22/03/01 14:45:15</td>   <td>1</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TitleCheckInHomePage.titleCheck()[pri:0, instance:com.maven.E2EProject.TitleCheckInHomePage@6979efad]">titleCheck</td> 
  <td>TestNG-tests-2@687399269</td>   <td></td> </tr>
<tr bgcolor="df8f72">  <td>22/03/01 14:45:15</td>   <td>7</td> <td>&nbsp;</td><td title="&lt;&lt;TitleCheckInHomePage.tearDown()[pri:0, instance:com.maven.E2EProject.TitleCheckInHomePage@6979efad]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="df8f72">  <td>22/03/01 14:45:15</td>   <td>-62</td> <td>&nbsp;</td><td title="&gt;&gt;TitleCheckInHomePage.browserInitializer()[pri:0, instance:com.maven.E2EProject.TitleCheckInHomePage@6979efad]">&gt;&gt;browserInitializer</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@687399269</td>   <td></td> </tr>
<tr bgcolor="9c947f">  <td>22/03/01 14:45:15</td>   <td>-62</td> <td>&nbsp;</td><td title="&gt;&gt;navigationCheckInHomePage.browserInitializer()[pri:0, instance:com.maven.E2EProject.navigationCheckInHomePage@1af1347d]">&gt;&gt;browserInitializer</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-3@1727424614</td>   <td></td> </tr>
<tr bgcolor="9c947f">  <td>22/03/01 14:45:15</td>   <td>-14</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="navigationCheckInHomePage.getNavigation()[pri:0, instance:com.maven.E2EProject.navigationCheckInHomePage@1af1347d]">getNavigation</td> 
  <td>TestNG-tests-3@1727424614</td>   <td></td> </tr>
<tr bgcolor="9c947f">  <td>22/03/01 14:45:15</td>   <td>5</td> <td>&nbsp;</td><td title="&lt;&lt;navigationCheckInHomePage.tearDown()[pri:0, instance:com.maven.E2EProject.navigationCheckInHomePage@1af1347d]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
</table>
